NEXT_PUBLIC_APP_NAME="Smart Study Planner"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_API_URL="http://localhost:3000"

# Jangan expose API key di frontend
OPENAI_API_KEY=""
ANTHROPIC_API_KEY=""
AI_PROVIDER="mock"

NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=""
