NEXT_PUBLIC_APP_NAME="Smart Study Planner"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_API_URL="http://localhost:3000"

# Jangan expose API key di frontend
OPENAI_API_KEY=""
ANTHROPIC_API_KEY=""
AI_PROVIDER="mock"

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/smart_study_planner"
JWT_SECRET="change-this-secret"
